In [1]:
import pandas as pd

In [2]:
df1= pd.read_csv('C:/Users/hp/Downloads/case study -1/vendors.csv')

In [3]:
df1=df1.rename(columns={'latitude':'ven_latitude','longitude':'ven_longitude','id':'vendor_id'})

In [4]:
df1['rank']=df1['rank'].replace({1:0,11:1}) #replacing rank 11 with 1 and 1 with 0

In [5]:
def tagssort(x):
  
  a=x.split(":")[1]
  return int(a.split('"')[1])
df1['primary_tags'].fillna('{"primary_tags":"0"}',inplace=True)
df1['primary_tags']=df1['primary_tags'].apply(tagssort)

In [6]:
df1.drop(['language','display_orders','device_type','city_id','country_id','open_close_flags','commission','is_akeed_delivering','one_click_vendor'],axis=1,inplace=True)
df1.drop(['OpeningTime','OpeningTime2'],axis=1,inplace=True) 
df1.drop('vendor_tag',axis=1,inplace=True)
df1.drop(['thursday_from_time1','thursday_from_time2','thursday_to_time1','thursday_to_time2'],axis=1,inplace=True)
df1.drop(['wednesday_from_time1','wednesday_from_time2','wednesday_to_time1','wednesday_to_time2'],axis=1,inplace=True)
df1.drop(['monday_from_time1','monday_from_time2','monday_to_time1','monday_to_time2'],axis=1,inplace=True)
df1.drop(['sunday_from_time1','sunday_from_time2','sunday_to_time1','sunday_to_time2'],axis=1,inplace=True)
df1.drop(['friday_from_time1','friday_from_time2','friday_to_time1','friday_to_time2'],axis=1,inplace=True)
df1.drop(['created_at','updated_at'],axis=1,inplace=True)

In [18]:
df1= df1.loc[0:,['vendor_id','ven_latitude','ven_longitude','vendor_category_en','delivery_charge','serving_distance','is_open','prepration_time','rank','primary_tags','vendor_rating','vendor_tag_name']]
df1.head()

,vendor_id,ven_latitude,ven_longitude,vendor_category_en,delivery_charge,serving_distance,is_open,prepration_time,rank,primary_tags,vendor_rating,vendor_tag_name
0,4,-0.588596,0.754434,Restaurants,0.0,6.0,1.0,15,1,4,4.4,"Arabic,Breakfast,Burgers,Desserts,Free_Deliver..."
1,13,-0.471654,0.744470,Restaurants,0.7,5.0,1.0,14,1,7,4.7,"Breakfast,Cakes,Crepes,Italian,Pasta,Pizzas,Sa..."
2,20,-0.407527,0.643681,Restaurants,0.0,8.0,1.0,19,0,71,4.5,"Breakfast,Desserts,Free_Delivery,Indian"
3,23,-0.585385,0.753811,Restaurants,0.0,5.0,1.0,16,1,46,4.5,"Burgers,Desserts,Fries,Salads"
4,28,0.480602,0.552850,Restaurants,0.7,15.0,1.0,10,1,32,4.4,Burgers

In [20]:
a=df1['vendor_tag_name']=df1['vendor_tag_name'].astype(str)

In [21]:
import re
def clean_text(text):
        text=re.sub("\s",'_',text)
        return text

In [22]:
df1['vendor_tag_name']=df1['vendor_tag_name'].apply(lambda x: clean_text(x))

In [36]:
df1.to_csv('new_vendor.csv',index=False)